@import '../../vars.scss';

.activity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &__delete {
        border: 3px solid $error-border;
        background: $delete-bckg;
        font-weight: bold;
    }
}

.container {
    display: flex;

    &__checking>input {
        background: $checker-bckg;
    }
}

.striked {
    text-decoration: line-through;
}