@import './vars.scss';

@mixin sizer {
    height: 300px;
    width: 300px;
}

body {
    background: $body;
    margin: 0;
}

p,
h1,
h2,
h3,
li,
a {
    margin: 0;
}

button {
    cursor: pointer;
}