$button-opener: #AC76C6;
$button-opener-bckg: #FFF;
$body: #DAF067;
$error-border: #FF0000;
$delete-bckg: #F4ACAC;
$modal-bckg: #FFF;
$photo-list-bckg: #FFF;
$black-color: #000;
$photo-item-hovered: #AC76C6;
$adder-border: #12B01A;
$modal-border: #AC76C6;
$list-bkg: #EDE1E1;
$checker-bckg: #F9F781;